<mat-toolbar color="primary">
  <a routerLink="">MyMessagingApp</a>
  <span class="spacer"></span>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">New post</a>
  <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
  <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign up</a>
  <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>

</mat-toolbar>
